html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: PT Sans, Helvetica, Arial, sans-serif;
    // background: $body-back;
    background-image: linear-gradient(rgb(235, 129, 111),rgb(101, 111, 141));
    background-attachment: fixed;
}
